# DevStack Solutions February 2022

Name :- SHUBHAM BHALERAO

Task-2 :- Make a color detection system with the help of Panda and
Open CV based on the provided dataset.

Introduction :- This is an advance level real-world based project. This will
increase your skills.

Technology :- Python,Pandas,Open CV.

Dataset Link :- https://github.com/codebrainz/color-names/blob/master/output/colors.csv

# Importing Required Libraries

In [1]:
import cv2
import numpy as np
import pandas as pd
import argparse

# Loading Or Reading The CSV File

In [2]:
index = ["color", "color_name", "hex", "R", "G", "B"]
color_csv = pd.read_csv('colors.csv', names=index, header=None)
color_csv

                    color             color_name      hex    R    G    B
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

# Exploratory Data Analysis EDA on the dataset

In [3]:
color_csv.head()  # Display the first five rows of the data from dataset.

                  color             color_name      hex    R    G    B
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3       alabama_crimson        Alabama Crimson  #a32638  163   38   56
4            alice_blue             Alice Blue  #f0f8ff  240  248  255

In [4]:
color_csv.tail()  # Display the last five rows of the data from dataset.

                 color         color_name      hex    R    G    B
860      yellow_orange      Yellow Orange  #ffae42  255  174   66
861     yellow_process   Yellow (Process)  #ffef00  255  239    0
862         yellow_ryb       Yellow (Ryb)  #fefe33  254  254   51
863             zaffre             Zaffre  #0014a8    0   20  168
864  zinnwaldite_brown  Zinnwaldite Brown  #2c1608   44   22    8

In [5]:
# It shows the shape of the data variable in tuple format i.e. no. of rows and column.
color_csv.shape

(865, 6)

In [6]:
# Print the summary of the dataframe like no. of rows and detailed information about the columns.
color_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   color       865 non-null    object
 1   color_name  865 non-null    object
 2   hex         865 non-null    object
 3   R           865 non-null    int64
 4   G           865 non-null    int64
 5   B           865 non-null    int64
dtypes: int64(3), object(3)
memory usage: 40.7+ KB

In [7]:
# Checks whether the dataframe contains any null record or not and then gives the count of null records.
color_csv.isna().sum()

color         0
color_name    0
hex           0
R             0
G             0
B             0
dtype: int64

# Loading Or Reading The Image File using Open CV

In [14]:
srcimg = cv2.imread('images/image1.jpg')
img = cv2.resize(srcimg, (800,400))

# Declaring Global Variables

In [9]:
clicked = False
r = g = b = xpos = ypos = 0

# Function to calculate minimum distance from all colors and get the most matching color

In [12]:
def getColorName(R, G, B):
    minimum = 10000
    for i in range(len(color_csv)):
        d = abs(R - int(color_csv.loc[i, "R"])) + abs(G - int(color_csv.loc[i, "G"])) + abs(B - int(color_csv.loc[i, "B"]))
        if(d <= minimum):
            minimum = d
            cname = color_csv.loc[i, "color_name"]
    return cname

# Function to get x,y coordinates of mouse double click

In [11]:
def draw_function(event, x,y,flags,param):
    if event == cv2.EVENT_RBUTTONDBLCLK:
        global b,g,r,xpos,ypos, clicked
        clicked = True
        xpos = x
        ypos = y
        b,g,r = img[y,x]
        b = int(b)
        g = int(g)
        r = int(r)

In [15]:
cv2.namedWindow('image')
cv2.setMouseCallback('image', draw_function)

while(1):

    cv2.imshow("image", img)
    if (clicked):

        #cv2.rectangle(image, startpoint, endpoint, color, thickness)-1 fills entire rectangle
        cv2.rectangle(img, (20, 20), (550, 60), (b, g, r), -1)

        #Creating text string to display( Color name and RGB values )
        text = getColorName(r, g, b) + ' B=' + str(b) + ' G=' + str(g) + ' R=' + str(r)

        #cv2.putText(img,text,start,font(0-7),fontScale,color,thickness,lineType )
        cv2.putText(img, text, (50, 50), 2, 0.8,(255, 255, 255), 1, cv2.LINE_AA)

        #For very light colours we will display text in black colour
        if(r+g+b >= 600):
            cv2.putText(img, text, (50, 50), 2, 0.8, (0, 0, 0), 2, cv2.LINE_AA)

        clicked = False

    #Break the loop when user hits 'esc' key
    if cv2.waitKey(20) & 0xFF == ord('q'):
        break

cv2.destroyAllWindows()